@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body,
  main {
    position: relative;
    height: 100%;
  }
  
  header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 100;
  }
  
  footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  